@page "/learnBlazor/bindprop"

<h3>Product - <Data> Binding</Data></h3>

Name : @product.Name <br />
IsActive : @product.IsActive <br />
Price : @product.Price <br />
<input type="number" @bind="@product.Price" @bind:event="oninput" /> <br />
<input type="number" @bind-value="@product.Price" @bind-value:event="oninput" />
<br />

@code {
    Models.Product product = new()
    {
        Id = 1,
        Name = "Product1",
        IsActive = true,
        Price = 9
    };
}