@page "/learnBlazor/bindprop"

<h3>Product - <Data> Binding</Data></h3>

Name : @product.Name <br />
IsActive : @(product.IsActive ? "Active" : "Inactive") <br />
Price : @product.Price
<br />
<br />
<br />


IsActive : <input type="checkbox" @bind-value="@product.IsActive" checked="@(product.IsActive?"checked":null)" /> <br />
Price : <input type="number" @bind="@product.Price" @bind:event="oninput" /><br />
Product Properties : <select @bind="selectedProp">
    @foreach (var item in product.ProductProperties)
    {
        <option id="@item.Id" value="@item.Key"> @item.Value</option>
    }
</select>
<br />

@if (!string.IsNullOrEmpty(@selectedProp))
{
    <p>
        <br /> <br /> Selected Prop Details:     <br />
       Value : @product.ProductProperties.FirstOrDefault(p=>p.Key == selectedProp).Value; <br />
        Key : @product.ProductProperties.FirstOrDefault(p => p.Key == selectedProp).Key; <br />
        Id :  @product.ProductProperties.FirstOrDefault(p => p.Key == selectedProp).Id; <br />
    </p>
}


@code {
    private string selectedProp = "";

    Models.Product product = new()
    {
        Id = 1,
        Name = "Product1",
        IsActive = false,
        Price = 9,
        ProductProperties = new List<Models.Product_Prop> ()
        {
            new Models.Product_Prop{ Id=1, Key="Color",Value="Red"},    
            new Models.Product_Prop{ Id=2, Key="Size",Value="20oz"},
            new Models.Product_Prop{ Id=3, Key="Flavor",Value="Rose"}
        }
    };
}